* {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

h2 {
    display: block;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
@import "blocks/carousel";
@import "base/variables";
@import "blocks/promo";
@import "blocks/privilege";
@import "blocks/header";
@import "blocks/botton";
@import "blocks/consultation";
@import "blocks/forms.scss";
@import "base/media";