.privilege {
    background: #F6F6F6;
    padding: 70px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        .privilege__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 270px;
            gap: 20px;
            img {
                margin-bottom: 15px;
            }
            h3 {
                font-size: 18px;
                font-weight: 700;
                text-align: center;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                a {
                    color: $main-color;
                    text-decoration: underline;
                    font-family: "MuseoModerno", sans-serif;
                }
            }
        }
    }
}